<p>Hello, </p>
<p>You have received a new contact request through the Collaborare contact form. Here are the details of the request:</p>
<p>Email: {{email}}</p>
<p>Subject: {{subject}} </p>
<p>Message: {{message}}</p>
<p>Please review the request at your earliest convenience and respond directly to the individual or organization to further discuss their inquiry or proposal.</p>
<p>Best regards,</p>